/.idea/
/Content/
/StardewXnbHack/

/ContentPatcherMaker.Core/bin/
/ContentPatcherMaker.Core/obj/
/ContentPatcherMaker.UI/bin/
/ContentPatcherMaker.UI/obj/
/ContentPatcherMaker.Test/bin/
/ContentPatcherMaker.Test/obj/